*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Work Sans", sans-serif;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

ul li {
    list-style: none;
}

.clear {
    clear: both;
}

.container--menu {
    margin: 10px 20px;
    position: relative;
}

.menu {
    font-weight: 700;
    font-size: 40px;
}

.menu li {
    padding: 10px;
    border-bottom: 1px solid #000;
}

.menu--li:first-child {
    color: #848484;
}

.icon-arrow {
    color: #000;
    font-weight: 700;
    float: right;
    transform: rotate(-45deg);
}

img.product--menu {
    width: 200px;
    z-index: 2;
    top: 40px;
    right: 20%;
    position: absolute;
    object-fit: cover;
}

/* container elements */
.container--elements {
    margin: 80px 20px;
    position: relative;
}

#nav .navbar {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 40px;
}

#nav .navbar:last-child {
    float: right;
    margin-right: 0;
}

#nav .navbar:first-child::after {
    content: "";
    width: 114px;
    height: 4px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 30px;
}

.list__items__shoes {
    margin: 60px -8px;
}

.item {
    width: 33.3333%;
    float: left;
    padding: 0 8px;
    position: relative;
}

.img__item {
    width: 100%;
    object-fit: cover;
}

.item_body {
    margin-top: 32px;
}

.item_body h3 {
    font-weight: 400;
    font-size: 16px;
}

.item_body h3:after {
    content: "$120";
    position: absolute;
    right: 8px;
}

.item_body p {
    font-weight: 100;
    color: #848484;
    font-size: 16px;
    margin: 8px 0;
}

/* Line */
.line {
    width: 50%;
    height: 0.5px;
    background-color: #ccc;
    margin-top: 32px;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
}

.line-progress {
    height: 1px;
    width: 40%;
    background-color: #000;
}

/* ao */

.list__items__clothers {
    margin: 120px -8px;
}

.items__clothers {
    width: 25%;
    float: left;
    padding: 0 8px;
    position: relative;
}

.img__item__clothers {
    width: 100%;
    object-fit: cover;
}

.item__clothers_body {
    margin-top: 32px;
}

.item__clothers_body h3 {
    font-weight: 600;
    font-size: 20px;
}

.item__clothers_body p {
    font-weight: 100;
    color: #848484;
    font-size: 14px;
    margin: 8px 0;
}
